.playerScreen {
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.cooldown {
  position: relative;
  bottom: 70px;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;

  img {
    width: 100%;
  }

  &__text {
    position: relative;
    bottom: 130px;
    left: 10px;
    line-height: 1.2;
  }

  &__time {
    position: relative;
    bottom: 130px;
    left: 10px;
    margin-top: 10px;
    font-size: 3rem;
  }
}

.buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  padding-right: 25px;
  gap: 20px;
  z-index: 3;

  .rules {
    width: 50px;
    height: 50px;
  }
  .sound {
    width: 50px;
    height: 50px;
  }
}

.interactions {
  position: relative;
  padding-bottom: 20px;
}

.grab-button {
  position: relative;
  bottom: 70px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
}
